.App {
  /*text-align: left;*/
}

.App-logo {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  display: block;
}

.App-header {
  background-color: #fff;
  display: block;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
  font-size: 0.7em;
  margin-right: 1em;
}

h5, h6 {
  font-size: bold;
}

.Small-pic {
  float: right;
  max-height: 50px;
}
